main {
    background-color: rgb(114, 112, 114);
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
align-items: center;
   
}

body {
display: flex;
flex-wrap: wrap;
background-color: aliceblue;
justify-content: center;
align-items: center;
height: 100vh;
margin: 1rem;

}

.card-row {
display: grid;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
margin: 2rem;

}

img {
max-height: 7rem;
max-width: 10rem;

}

p {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.hero-content {
display: flex;
margin: 0 auto;
max-width: 75ch;
align-items: center;
flex: wrap;
min-width: 350px;
max-height: 1000px;
border: 50px;
border-radius: 50px;
background-color: rgb(109, 129, 129);

}

.hero-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin: 0 auto;
width: 75ch;
background-color: aliceblue;
}

.divbox {
display: flex;
border: 50px;
border-radius: 50px;
background-color: rgb(109, 129, 129);
margin: 10px;
align-items: center;
}
