.header-box {
display: flex;
justify-content: space-between;

}

.search-profile {
display: flex;
margin: 10px;
flex-direction: row;

}

.autopiltbox {
max-height: 600px;

}

.autopilt {
width: 100%;

}

.searchbar {
display: flex;
height: 4rem;
width: 30rem;
border-radius: 2rem;
background-color: rgb(154, 154, 154);

font-size: 23px;

}

.audi-name {
display: flex;
font-size: 60px;
font-style: initial;
justify-content: space-around;
margin-bottom: -6rem;
margin-top: -1rem;

}

.audi-slogan {
font-style: italic;
display: flex;
font-size: 32px;
justify-content: space-around;
color: rgb(84, 84, 84);
}

.buttonholder {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.nupud {
    background-color: rgb(68, 68, 68);
    border-radius: 15px;
    color: rgb(255, 255, 255);
width: 150px;
height: 50px;


}