
    nav {
    background-color: #333;
    height: 80px;
    width: 100%;
    
    
    }
    
    nav ul {
    float: right;
    margin-right: 20px;
    
    }
    

    
    nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    }
    
    nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    
    }
    
    
    a.active,a:hover {
    background: #5e5e5e;
    transition: .5s;
    }

    label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
    }
    
    * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    
    .checkbtn {
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
    }
    
    #check {
    display: none;
    
    }
    
    @media (max-width: 952px) {
        label.logo{
            font-size: 30px;
            padding-left: 50px;
        }

        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px) {
        .checkbtn{
            display: block;
    
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #363636;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        } 
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
    
        }
        a:hover,a.active {
            background: none;
            color: #5e5e5e;
        }
        #check:checked ~ul{
            left: 0;
    
        }
    }

.gallery-box {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    background: #5e5e5e;
}

.container h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.container .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.container .image-container .image {
    height: 350px;
    width: 450px;
    border: 10px solid #3d3d3d;
    box-shadow:  0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container .image-container .image:hover img {
    transform: scale(1.1);
}

.container .popup-image {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: aliceblue;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid aliceblue;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px){
    .container .popup-image img {
        width: 95%;
    }
}

.Peatekst {
    margin-top: 3rem;
    background: #3e3e3e;
    justify-content: center;
}

.Peatekst p {
    color: aliceblue;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    gap: 3rem;
}
.button-container button {
    width: 20rem;
    color: aliceblue;
    background-color: #333;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-section {
    margin-bottom: 20px;
}
.footer-section h4 {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
}
.footer-section p {
    margin: 5px 0;
    font-size: 16px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}